* {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100px;
}

ul {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

img {
  max-width: 400px;
}

.pl-preview {
  width: 300px;
}

.about-pic {
  width: 400px;
}
a, button {
  margin: 20px;
}