
input, textarea, div, h1, h2, h3, h4, h5, h6, p, label, button, ul, li, a, form {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  color: #202020;
  border: none;
  outline: none;
  text-indent: 0;
  border-radius: 10px;
  text-decoration: none;

}

input, textarea {
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  box-shadow: none;
}

input:focus, textarea:focus {
  border: .25vh solid #00a000;
  box-shadow: none;
}

input:invalid {
  border: .25vh solid #ff0000;
}

button:focus {
  outline: 2px solid #ffa000;
}

.App {
  min-height: 95vh;
  /* display: block;
  max-width: 768px;
  margin: auto; */
}

.site-header {
  width: 100%;
  margin-left: 2.5vw;
  font-family: Bebas;
  font-size: 1em;
  color: #606060;
}
.site-header span {
  font-size: 1.5em;
  margin-right: 5px;
  color: #202020;
}

.page-title {
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 200;
  color: #808080;
  padding-left: 5vw;
}

.header {
  /* background-color: #c0ffff; */
  min-height: 7.5vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1vh 2.5vw;
}

.header a {
  font-size: 1.13em;
  padding: 0 2.5vw;
  color: #404040;
  text-decoration: none;
}


.header a:hover {
  color: #202020;
  font-weight: 400;
  text-decoration: underline;
}

.title-div {
  min-height: 15vh;
  /* text-align: left; */
  /* margin: 5vh 5vw; */
  /* display: grid;
  row-gap: .5vh; */
}

.local-edit-btn {
  position: relative;
  min-width: 25px;
  border-radius: 5px;
  padding: .25vh .5vw;
  font-size: 1em;
  position: absolute;
  right: 5vw;
  background: #ffffff;
  border: .1vh solid #606060;
  transition: .5s;
}

.local-edit-btn:hover {
  background-color:#00a0a0;
  background: #606060;
  color: #ffffff;
}

.local-delete-btn {
  position: relative;
  min-width: 25px;
  border-radius: 5px;
  padding: .25vh .5vw;
  font-size: 1em;
  position: absolute;
  right: 12.5vw;
  transition: .5s;
  background: #ffffff;
  border: .1vh solid #606060;
}

.local-delete-btn:hover {
  background-color:#ff5000;
  background: #606060;
  color: #ffffff;
}

.delete-project {
  position: relative;
  left: 0;
  width: 90vw;
  min-width: 100px;
  max-width: 350px;
  display: block;
  margin: 1.25vh auto;
  font-size: 1em;
  height: 5vh;
  transition: .5s;
  border: .1vh solid #606060;
  border-radius: 10px;
  background: none;
}

.over-img {
  margin-top: 1.25vh; 
}

.logout {
  width: 15vw;
  font-size: 1em;
  margin-right: 2.5vw;
}

.site-title {
  font-size: 2.75em;
  line-height: 2em;
  font-weight: 600;
  text-align: left;
  width: 90vw;
  margin: 2.5vh auto;
}

.solo {
  margin-left: 5vw;
}

.site-subtitle {
  font-size: 1.4em;
  font-weight: 300;
  text-align: left;
  color: #404040;
  width: 90vw;
}

.local-submit-btn {
  font-size: 1em;
  height: 5vh;
}

.user-image-container {
  margin: 2.5vh 0;
}

.user-image {
  width: 100vw;
  margin: auto;
  max-width: 500px;
  display: block;   
}

.image-upload-input {
  width: 90vw;
  min-width: 100px;
  max-width: 350px;
  margin: 1.25vh auto;
  font-size: 14px;
  display: block;
}

.update{
  border-radius: 10px;
  display: block;
  width: 90vw;
  margin: 2.5vh auto;
  font-size: 1em;
  height: 5vh;
  transition: .5s;
  background: none;
  border: .1vh solid #606060;
  min-width: 100px;
  max-width: 350px;
  display: block;
}

.star {
  background: #d8d8d8;
}
.update:hover {
  background: #606060;
  color: #ffffff;
  /* border: .1vh solid #00a000; */
}

.add {
  width: 90vw;
  margin: 1.25vh 5vh;
  font-size: 1em;
  height: 5vh;
  transition: .5s;
}

.margX-5 {
  margin-left: 5vw;
  margin-right: 5vw;
}
.text-wrapper {
  margin: 1.25vh 5vw 5vh;
}
.user-bio {
  width: 90vw;
  overflow: visible;
  min-height: 20vh;
}

.link-hover {
  text-decoration: underline;
}

.link-hover:hover {
  font-weight: 600;
}

.pl-link:hover ~ a{
  color: green;
}

.pl-preview {
  width: 60vw;
  max-width: 300px;
  height: 60vw;
  max-height: 300px;
  object-position: center;
  object-fit: cover;
  margin: 2.5vh 0;
  border-radius: 10px;
  justify-self: right;
  box-shadow: 1px 1px 6px #c0c0c0;
}

.pl-title {
  font-size: 1.37em;
  font-weight: 600;
}

.pl-subtitle {
  font-size: 1.12em;
  font-weight: 300;
}

.about-pic {
  width: 400px;
}

.ct-label {
  font-size: 1.15em;
  font-weight: 600;
  color: #606060;
  display: block;
}
.ct-input{
  font-size: 1.05em;
  font-weight: 400;
  /* color: #606060; */
  display: block;
}
.ct-row {
  margin: 1vh 0;
}

.contact {
  margin: 2.5vh auto;
}

.pj-link-card {
  margin-bottom: 5vh;
  border-bottom: 2px solid #c0c0c0;
  border-radius: 0;
  display: grid;
}

.pj-header {
  margin: 7.5vh 5vw 2.5vh;

  border-bottom: 2px solid #606060;
  border-radius: 0;
}

.pj-title {
  font-size: 1.5em;
  /* letter-spacing: 2px; */
  margin: 2.5vh 0 .75vh;
  width: 100%;
  font-weight: 600;
}

.pj-subtitle {
  font-size: 1.20em;
  font-weight: 200;
  margin: .75vh 0;
  width: 100%;
  color: #606060;
}

.pj-descript {
  margin: 2.5vh 0;
  width: 100%;
  min-height: 150px;
}

.pj-image {
  display: block;
  margin: auto;
  width: 90vw;
  min-width: 100px;
  max-width: 500px;
  border-radius: 10px;
  /* margin-bottom: 2.5vh; */
  max-height: 500px;
  object-position: center;
  object-fit: cover;
  box-shadow: 1px 1px 6px #c0c0c0;
}

.image-prev-statement {
  position: relative;
  font-size: 1em;
  line-height: 5vh;
  background-color: #00000080;
  text-align: center;
  color: #ffffff;
  width: 90vw;
  min-width: 100px;
  max-width: 500px;
  display: block;
  display: block;
  z-index: 10;
  margin: -5vh auto 2.5vh;
}
.image-container {
  margin: 2.5vh auto;
}

.footer {
  background: #202020;
  padding: 1vh auto;
  min-height: 5vh;
}

.login-form {
  margin: 10vh auto;
  width: 90vw;
  max-width: 350px;
}

.login-legend {
  text-align: center;
  font-size: 1.15em;
  font-weight: 600;
  border-bottom: 2px solid #c0c0c0;
  margin-bottom: 5vh;
}
/* border-radius: 10px;
display: block;
width: 90vw;
margin: 2.5vh auto;
font-size: 1em;
height: 5vh;
transition: .5s;
background: none;
border: .1vh solid #606060;
min-width: 100px;
max-width: 350px;
display: block; */

.lgin-label {
  font-size: 16px;
  font-weight: 600;
  color: #606060;
  display: block;
  /* text-align: center; */
}
.lgin-input{
  font-size: 14px;
  font-weight: 400;
  /* color: #606060; */
  display: block;
}

.lgin-input:invalid {
  border: .25vh solid #ff0000;
}
.lgin-row {
  margin: 2vh auto;
  width: 66%;
  text-align: center;
}

.log {
  position: absolute;
  right: 5vw;
  display: block;
  text-align: center;
  width: 15vw;
  min-width: 100px;
  max-width: 125px;
  height: 3vh;
  font-size: .75em;
  line-height: 3vh;
  margin: 1vh auto;
  /* padding: auto 5vw; */
  background: none;
  /* border: .25vh solid #c0c0c0; */
  color: #c0c0c0;
}
.log:hover {
  /* background: #404040; */
  /* border: .25vh solid #ffa000; */
  color: #ffa000;
}

.tombar {
  line-height: 5vh;
  margin: auto 5vw;
  font-size: .75em;
  color: #ffffff;
  font-family: 'Bebas Neue', cursive;
}