* {
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: #202020;
}

.flex-center {
}

.header {
  background-color: #fff0f0;
  height: 7.5vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2.5vw;
}

.header a {
  font-size: 1.25em;
  padding: 0 2.5vw;
  color: #404040;
}

.header a:hover {
  color: #202020;
  font-weight: 400;
}

.titleDiv {
  height: 15vh;
  text-align: left;
  padding: 5vh 5vw;
}

.titleDiv h1 {
  font-size: 2.75em;
}

.titleDiv h2 {
  padding: 5vh 5vw 0 0;
  font-size: 1.5em;
  font-weight: 100;
  color: #404040;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100px;
}

ul {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

img {
  max-width: 400px;
}

.pl-preview {
  width: 300px;
}

.about-pic {
  width: 400px;
}
button {
  margin: 20px;
}